.CartBasket {
  display: flex;
  flex-direction: column;
}

.CartDivImg {
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 5px;
}
.CartDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 2px black solid;
  margin: 5px;
  padding-left: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
